<div class="toolbar">
  <div class="title-container">
    <img class="hormann-logo" src="assets/images/hormann_logo.jpg" />
    <span class="title">Year End Inventory System</span>
  </div>

  <div class="reports-container">
    <button
      [disableRipple]="true"
      mat-flat-button
      class="reports-button text-title"
      (click)="inventoryApps()"
    >
      Enter Tickets
    </button>
    <button
      [disableRipple]="true"
      mat-flat-button
      class="reports-button text-title"
      [matMenuTriggerFor]="menu"
    >
      Reports
    </button>
    <mat-menu #menu="matMenu" xPosition="before" class="reports-menu">
      <div class="report-spans">
        <span class="reports-menu-button text-title" (click)="viewReports()">
          View Reports
        </span>
        <span
          class="reports-menu-button text-title"
          (click)="openReportsSelection()"
        >
          Download Reports
        </span>
      </div>
    </mat-menu>
  </div>
</div>
