html,
body {
  background: #000;
  margin: 0;
}
.centered {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}
.blob-1,
.blob-2 {
  width: 25px;
  height: 25px;
  position: absolute;
  background: #f9ad09;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blob-1 {
  left: 20%;
  animation: osc-l 1.75s ease infinite;
}
.blob-2 {
  left: 80%;
  animation: osc-r 1.75s ease infinite;
  background: #003a7d;
}
@keyframes osc-l {
  0% {
    left: 35%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 35%;
  }
}
@keyframes osc-r {
  0% {
    left: 65%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 65%;
  }
}
